# Avoiding to upload the cache
__pycache__
cache*
log
joblib_cache

# Avoid to upload VSCode settings
.vscode
*.spec
*.egg-info
build
test

# Avoid to upload venv files
.venv*

# Avoid to upload Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/*

# Avoid to upload results
*results*

# Avoiding to upload the datasets
datasets/*
grandstaff
data/SGM-v2.01-YamahaGrand-Guit-Bass-v2.7.sf2

# Avoid to upload the models
weights

# Avoid to upload the WANDB logs
wandb
wandb_api_key.txt