# Avoiding to upload the cache
__pycache__
cache*
log
joblib_cache
.ruff_cache/
.mypy_cache/
.DS_Store

# Avoid to upload VSCode settings
.vscode
*.spec
*.egg-info
build
test

# Avoid to virtual environment files
.env
.env/
.venv/
env/
venv/

# Avoid to upload Jupyter notebook checkpoints
*.ipynb_checkpoints

# Avoid to upload results
*results*

# Avoiding to upload the datasets
datasets/*
grandstaff
src/data/SGM-v2.01-YamahaGrand-Guit-Bass-v2.7.sf2

# Avoid to upload the models
weights

# Avoid to upload the WANDB logs
wandb
